<div style="margin: 3vh;">
  <h6 style="font-size: 3vh;">Add new moment</h6>
  <div>
    <div>
      <div style="width: 54vh;margin: 8vh;">
        <span id="formLogin"></span>
        <div>
          <form [formGroup]="momentForm">
            <div style="display: grid;padding: 1vh;">
              <label for="title">Title</label>
              <input id="title" type="text" name="title" [formControlName]="'title'"
                     required>
            </div>
            <div style="display: grid;padding: 1vh;">
              <div>
                <label for="tags">Tags</label>
                <tag-input id="tags" [(ngModel)]="moment.tags"
                           [editable]="true" [formControlName]="'tags'"
                           (onTagEdited)="onTagEdited($event)">
                </tag-input>
              </div>
            </div>
            <div  style="padding: 1vh;">
              <file-uploader></file-uploader>
            </div>
            <div id="button-parent">
              <button id="button" (click)="isNew?createMoment():editMoment()" type="button">
                {{isNew ? 'Submit' : 'Update'}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
