.moments-header {
  display: flex;
  padding: 2vh;
}
.burger-menu {
  width: 3vh;
}
.profile-icon {
  width: 4vh;
  position: fixed;
  left: 97vw;
  top: 1vh;
}
.moments-header-item {
  width: 40vw;
}

