.header-container {
  color: white;
  background-color: #001B30;
  display: flex;
  height: 21vh;
  align-items: center
}
.header-title {
  margin: 2vh;
  width: 50vh;
  margin-left: 86vh;
  font-size: 4vh;
}

.header-logout {

}
