<div>
  <div>
    <auth-header></auth-header>
  </div>
  <div>
    <div>
      <span id="formLogin"></span>
      <div class="sign-up-header">
        <h3 class="signin-header">Sign Up</h3>
        <h5 class="signin-subheader">To be a member</h5>
      </div>
      <div id="signup-container">
        <div class="signup-form">
          <form [formGroup]="userForm">
            <div class="row-container">
              <div class="signup-row">
                <div class="row-align">
                  <label class="form-lbl" for="firstName">First Name:</label>
                  <input class="input" [formControlName]="'firstName'" id="firstName"
                         required type="text">
                </div>
                <div class="row-align">
                  <label class="form-lbl"  for="lastName">Last Name:</label>
                  <input class="input" id="lastName" type="text" [formControlName]="'lastName'" name="lastName"
                         required>
                </div>
              </div>
              <div class="signup-row">
                <div class="row-align">
                  <label class="form-lbl"  for="phoneNo">Phone no.</label>
                  <input class="input" id="phoneNo" type="number" name="phoneNo"
                         [formControlName]="'phoneNo'" required>
                </div>
                <div class="row-align">
                  <label class="form-lbl"  for="email">Email-ID</label>
                  <input class="input" id="email" type="email" name="email"
                         [formControlName]="'email'" required>
                </div>
              </div>
              <div class="signup-row">
                <div class="row-align">
                  <label class="form-lbl"  for="city">City</label>
                  <input class="input" id="city" type="email" name="city"
                         [formControlName]="'city'" required>
                </div>
                <div class="row-align">
                  <label class="form-lbl"  for="password">Enter Password</label>
                  <input class="input" id="password" type="email" name="password"
                         [formControlName]="'password'" required>
                </div>
              </div>
            </div>
            <div id="button-parent">
              <button id="button" (click)="registerUser()" type="button">Register</button>
            </div>
            <div class="not-a-member">
              <label style="margin-right:0.5vw">Already a member? </label>
              <a class="signup-link" [routerLink]="'/auth/login'">Sign In</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
