#button-parent{
    display: flex;
    justify-content: center;
    align-items: center;
  margin-top: 2vh;
}

#button{
    margin-top: 10px;
    border-radius: 25px;
    background-color: #001B30;
    align-self: center;
    color: white;
    width: 7vw;
    height: 5vh;
    font-size: 18px;
    font-weight: 600;
}
#successMsgTheme{
    color: rgb(68, 136, 0);
}
#failureMsgTheme{
    color: red;
}

#login-container {
  height: 79vh;
  justify-content: center;
  display: flex;
  margin-top: 10vh;
}

.signin-header {
  justify-content: center;
  display: flex;
  font-size: 35px;
  font-weight: 700;
}

.signin-subheader {
  justify-content: center;
  display: flex;
  font-size: 2vh;
  font-weight: 400;
}

.form-container {
  width: 21vw;
  padding: 2vh;
}

#input {
  width: 21vw;
  padding: 2vh;
  height: 1vh;
}
#email {
  width: 21vw;
  padding: 2vh;
  height: 1vh;
}

.not-a-member {
  justify-content: center;
  display: flex;
  padding: 2vh;
}

.signup-link {
  font-weight: 700;
  text-decoration: none;
  color: #001B30;
}
