.dashboard-container {
  display: flex;
}
.dashboard-navbar {
  width: 13vw;
  height: 100vh;
  box-shadow: 0 0 15px rgb(0 0 0 / 75%);
  clip-path: inset(0px -15px 0px 0px);
}
.dashboard-content {
  width: 87vw;
}
